
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
}
.col{
    /* border: 1px solid black; */
    outline: none;
    flex: 1;
    display: flex;
    background-color: rgb(58, 1, 1);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
h2{
    padding: 10px;
    color:aliceblue;
    border-radius: 10px;
    transition: background 0.3s ;
}
.col h2:hover{
    background: rgba(0,0,0,0.1);
    cursor: pointer;
}
.col button{
    border: none;
    background: transparent;
    font-size: 1.5rem;
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    transition: background 0.3s ;
} .col button:hover{
    background: rgba(0,0,0,0.1);
    cursor: pointer;
} 

@media screen and (max-width: 720px){

    body{
        display: flex;
        height: 100vh;
        display: block;
     
    }
    .col{
        height:16.6666666667% ;
        display: flex;
        background-color: rgb(58, 1, 1);
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .mobile-button{
        
        
        height:16.6666666667% ;

    }
    .rand{
        background-color: rgb(241, 229, 229);
        width: 100%;
        height:  100%;
        font-weight: bold;
        color: rgb(49, 3, 3);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background 0.3s ;
        font-size: 1.5rem;  
    }
}
